body#audio_assist_popup {
  margin: 0;
  padding: 0;
}

body.audio_assist {
  margin: 0px;
  padding: 5px;
  width: auto;
  min-width: 0;
  color: #000000;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  background-image:none !important;
  background-color: #efefef;
  text-align:left !important;
}
/* Thin line between header and main frame */
body#audio_assist_thumbs, body#audio_assist_upload, body#audio_assist_properties {
  border-top: 1px solid #000;
}
/* Darker background color in header frame */
body#audio_assist_header {
  background-color:#ccc;
  margin: 0;
}
/* Thin border around images */
.audio_assist img {
  border: 1px solid #000;
}
.audio_assist-button {
  font-weight: bold;
  margin: 3px;
}
.audio_assist .messages {
  border: 1px solid #000;
  background-color: #ccc;
  padding: 2px;
  margin: 3px 0px 6px 0px;
}

/* Override themes' table styling */
.audio_assist table, .audio_assist tbody, .audio_assist td {
  border: none;
  margin: 0;
  width: auto;
}

/* Browser window */
.audio_assist table {
  margin: 0 auto;
}
.audio_assist .views-admin-links {
  display: none;
}


/* Upload window */
.audio_assist .node-form {
  width: 95%;
  margin: 0 auto;
}

/* Properties window */
.audio_assist #preview {
  padding: 5px 10px 5px 5px;
}
.audio_assist .form-item { /* first form field on properties frame should be at the top of the page */
  margin-top: 0px;
  margin-bottom: 1em;
}
.audio_assist #caption {
  display: block;
}
.audio_assist #header-browse div.form-item,
.audio_assist #link-group div.form-item,
.audio_assist #edit-size div.form-item,
.audio_assist #size-other div.form-item {
  display: inline;
}
.audio_assist #alignment {
  text-align: left;
}
.audio_assist #edit-title, .audio_assist #edit-desc {
  width: 99%;
}
.audio_assist #edit-link {
  width: 155px;
}
.audio_assist #edit-url {
  width: 150px;
}
.audio_assist #edit-align {
  width: 100px;
}  
#finalhtmlcode {
  display: none;
  visibility: hidden;
}

/* Header frame */
#header-uploading, #header-properties, #header-browse {
  float: left; 
  width: 80%;
}
#header-startover, #header-cancel {
  float: right;
  width: 19%;
  text-align: right;
}

#header-uploading input, #header-properties input, #header-browse input, #header-startover input, #header-cancel input, #header-uploading select, #header-properties select, #header-browse select {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
}
